# Banco de dados
DATABASE_URL=file:dev.db

# InfinitePay
INFINITEPAY_API_URL=
INFINITEPAY_API_KEY=
INFINITEPAY_WEBHOOK_SECRET=

# Shopify
SHOPIFY_STORE_DOMAIN=
SHOPIFY_ADMIN_API_TOKEN=
SHOPIFY_API_VERSION=2025-01

# Sessão
PAYMENT_SESSION_EXPIRY_MINUTES=30
